appdirs==1.4.4
asgiref==3.2.10
attrs==19.3.0
beautifulsoup4==4.9.1
black==19.10b0
certifi==2022.12.7
cfgv==3.2.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
distlib==0.3.1
Django==3.0.7
django-extensions==2.2.9
duolingo-api==0.5.0
filelock==3.0.12
identify==1.4.25
idna==2.10
importlib-metadata==1.7.0
isort==5.3.2
lxml==4.5.2
nodeenv==1.4.0
packaging==20.4
pathspec==0.8.0
pluggy==0.13.1
pre-commit==2.6.0
py==1.10.0
pyparsing==2.4.7
pypiwin32==223
pytz==2020.1
pywin32==228
PyYAML==5.3.1
regex==2020.6.8
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
tox==3.19.0
translate==3.5.0
typed-ast==1.4.1
ujson==3.0.0
urllib3==1.25.9
virtualenv==20.0.30
zipp==3.1.0
