{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'flashcards/base.css' %}">
{% endblock %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Duo flashcards</title>
</head>

<body>

    <div class="top_navigation" id="top_navigation">
        <form action="{% url 'index' %}" method="POST">{% csrf_token %}
            <a class="active"> <button id="home" type="submit" onclick="">Home</button></a>
        </form>
        <form action="{% url 'about' %}" method="POST">{% csrf_token %}
            <a class="nav_button" a> <button id="about" type="submit" onclick="">About</button></a>
        </form>
        <a href="javascript:void(0);" class="icon" onclick="responsive_top_navigation()">
            <i class="fa fa-bars"></i>
        </a>

        <script>
            function responsive_top_navigation() {
                var x = document.getElementById("top_navigation");
                if (x.className === "top_navigation") {
                    x.className += " responsive";
                } else {
                    x.className = "top_navigation";
                }
            }

            let home = document.getElementById('home');
            let about = document.getElementById('about');
            [home, about].forEach(elem => transparentize(elem));

            function transparentize(elem) {
                console.log(elem);
                elem.style.background = 'transparent';
                elem.style.border = 'none';
                elem.style.overflow = 'hidden';
                elem.style.outline = 'none';
                elem.style.color = "white";
                elem.style.fontFamily = "georgia";
                elem.style.fontSize = "2rem";
                let p = elem.parentElement
                if (p.className != 'active') {
                    p.style.paddingTop = '0px';
                    p.style.paddingBottom = '0px';
                }

            }

        </script>
    </div>

    <div align='center' class="content">
        {% block content %}
        {% endblock %}
        {% block script %}
        {% endblock %}
    </div>
</body>

</html>
