{% extends 'flashcards/base.html' %}

{% block content %}
<button id='restart' hidden> <a href={% url 'index' %}> restart </a> </button>
<div id="current_flashcard" onclick="flip();">
    <p id="all_data" hidden> {{deck}} </p>
    <p id="front"></p>
    <!--todo check somewhere previously, that deck.flachcards is not empty-->
    <p id="back"></p>
    <button id="wrong" onclick="addcard(); nextcard(); flip_restore_balance();">wrong</button>
    <button id="right" onclick="popcard(); nextcard(); flip_restore_balance();">right</button>
</div>
{% endblock %}



{% block script %}


<script type="text/javascript">
    document.addEventListener('keypress', function(event) {
        if (event.keyCode == 32) {
            flip();
            //space
        } else if (event.key == 'd') {
            document.getElementById('right').click()
        } else if (event.key == 'a') {
            document.getElementById('wrong').click()
        }
    });
    document.addEventListener('keydown', function(event) {
        if (event.key == 'ArrowRight') {
            document.getElementById('right').click()
        } else if (event.key == 'ArrowLeft') {
            document.getElementById('wrong').click()
        }
    });


    var data = document.getElementById("all_data").innerHTML;
    data = JSON.parse(data);
    var fronts = Object.keys(data);
    // todo check if data is not empty ( in django view mb)
    var current = 0;

    document.getElementById('front').innerHTML = fronts[current];
    document.getElementById('back').innerHTML = data[fronts[current]];
    document.getElementById('back').hidden = true;


    function nextcard() {
        current = current + 1;
        if (current >= fronts.length) {
            alert('here');  
            document.getElementById('front').hidden = true;
            document.getElementById('back').hidden = true;
            document.getElementById('restart').hidden = false;
        } else {
            document.getElementById('front').innerHTML = fronts[current];
            document.getElementById('back').innerHTML = data[fronts[current]];
        }
    }

    function popcard() {
        current = current - 1;
        fronts.shift();
    }

    function addcard() {
        fronts.push(fronts[current]);
    }

    function flip() {
        let front = document.getElementById('front');
        let back = document.getElementById('back');
        if (front.hidden) {
            front.hidden = false;
            back.hidden = true;
        } else {
            front.hidden = true;
            back.hidden = false;
        }
    }

    function flip_restore_balance() {
        // every new card should first be seen as front
        let front = document.getElementById('front');
        let back = document.getElementById('back');
        front.hidden = false;
        back.hidden = true;
    }

</script>
{% endblock %}
