{% extends 'flashcards/base.html' %}

{% block content %}
<div id="current_flashcard" onclick="flip();">
    <p id="all_data" hidden> {{deck}} </p>
    <p id="front"></p>
    <!--todo check somewhere previously, that deck.flachcards is not empty-->
    <p id="back"></p>
    <button id="right" onclick="popcard(); nextcard()   ;">right</button>
    <button id="wrong" onclick="addcard(); nextcard();">wrong</button>
</div>
{% endblock %}



{% block script %}


<script type="text/javascript">
    var data = document.getElementById("all_data").innerHTML;
    data = JSON.parse(data);
    var fronts = Object.keys(data);
    // todo check if data is not empty ( in django view mb)
    var current = 0;

    document.getElementById('front').innerHTML = fronts[current];
    document.getElementById('back').innerHTML = data[fronts[current]];

    function nextcard() {
        current = current + 1;
        if (current > fronts.length) {
            //todo show restart buton which redirects somewhere
        } else {
            document.getElementById('front').innerHTML = fronts[current];
            document.getElementById('back').innerHTML = data[fronts[current]];
            // manage right and wrong stuff? oh gotcha: thats what popcard and addcard are for
        }
    }

    function popcard() {}

    function addcard() {}

</script>
{% endblock %}
